<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone9,1</string>
			<string>iPhone9,2</string>
			<string>iPhone9,3</string>
			<string>iPhone9,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1</string>
			<string>10.1.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f83d38</string>
			<string>0xfffffff00747ad9c</string>
			<string>0xfffffff0074916b4</string>
			<string>0xfffffff00749ca6c</string>
			<string>0xfffffff0075f0178</string>
			<string>0xfffffff00757c898</string>
			<string>0xfffffff006337e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone9,1</string>
			<string>iPhone9,2</string>
			<string>iPhone9,3</string>
			<string>iPhone9,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.1</string>
			<string>10.0.2</string>
			<string>10.0.3</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f83b78</string>
			<string>0xfffffff007479938</string>
			<string>0xfffffff007490240</string>
			<string>0xfffffff00749b5f8</string>
			<string>0xfffffff0075f0178</string>
			<string>0xfffffff00757c898</string>
			<string>0xfffffff00633fe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,1</string>
			<string>iPhone8,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9b950</string>
			<string>0xfffffff00743755c</string>
			<string>0xfffffff00744df5c</string>
			<string>0xfffffff007459378</string>
			<string>0xfffffff0075ac438</string>
			<string>0xfffffff007538a98</string>
			<string>0xfffffff0063cfe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,1</string>
			<string>iPhone8,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9e1f8</string>
			<string>0xfffffff0074331ec</string>
			<string>0xfffffff007449b04</string>
			<string>0xfffffff007454e6c</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff0063d3e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,1</string>
			<string>iPhone8,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9e038</string>
			<string>0xfffffff007431d04</string>
			<string>0xfffffff00744860c</string>
			<string>0xfffffff007453974</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff0063dbe12</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa7e90</string>
			<string>0xfffffff00743755c</string>
			<string>0xfffffff00744df5c</string>
			<string>0xfffffff007459378</string>
			<string>0xfffffff0075ac438</string>
			<string>0xfffffff007538a98</string>
			<string>0xfffffff0063ebe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa83f8</string>
			<string>0xfffffff0074331ec</string>
			<string>0xfffffff007449b04</string>
			<string>0xfffffff007454e6c</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0Xfffffff0063f3e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone8,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa8238</string>
			<string>0xfffffff007431d04</string>
			<string>0xfffffff00744860c</string>
			<string>0xfffffff007453974</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff0063f7e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone7,1</string>
			<string>iPhone7,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>nports</key>
		<integer>15000</integer>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9b450</string>
			<string>0xfffffff0074446dc</string>
			<string>0xfffffff00745b0dc</string>
			<string>0xfffffff0074664f8</string>
			<string>0xfffffff0075bc468</string>
			<string>0xfffffff007548a98</string>
			<string>0xfffffff006413e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone7,1</string>
			<string>iPhone7,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>nports</key>
		<real>15000</real>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9b6b8</string>
			<string>0xfffffff00743eed8</string>
			<string>0xfffffff0074557e0</string>
			<string>0xfffffff007460b48</string>
			<string>0xfffffff0075b4168</string>
			<string>0xfffffff007540898</string>
			<string>0xfffffff00641be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone7,1</string>
			<string>iPhone7,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>nports</key>
		<real>15000</real>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f9b878</string>
			<string>0xfffffff0074403a0</string>
			<string>0xfffffff007456cb8</string>
			<string>0xfffffff007462020</string>
			<string>0xfffffff0075b8168</string>
			<string>0xfffffff007544898</string>
			<string>0xfffffff006417e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone6,1</string>
			<string>iPhone6,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fbe910</string>
			<string>0xfffffff00743844c</string>
			<string>0xfffffff00744ee4c</string>
			<string>0xfffffff00745a268</string>
			<string>0xfffffff0075b0418</string>
			<string>0xfffffff00753ca98</string>
			<string>0xfffffff00647fe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone6,1</string>
			<string>iPhone6,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fbe6b8</string>
			<string>0xfffffff007434110</string>
			<string>0xfffffff00744aa28</string>
			<string>0xfffffff007455d90</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006487e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPhone6,1</string>
			<string>iPhone6,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fbe538</string>
			<string>0xfffffff007432c48</string>
			<string>0xfffffff007449550</string>
			<string>0xfffffff0074548b8</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff00648be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,3</string>
			<string>iPad5,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f85310</string>
			<string>0xfffffff007444900</string>
			<string>0xfffffff00745b300</string>
			<string>0xfffffff00746671c</string>
			<string>0xfffffff0075bc528</string>
			<string>0xfffffff007548a98</string>
			<string>0xfffffff0063bfe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,3</string>
			<string>iPad5,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f85878</string>
			<string>0xfffffff0074405c4</string>
			<string>0xfffffff007456edc</string>
			<string>0xfffffff007462244</string>
			<string>0xfffffff0075b8228</string>
			<string>0xfffffff007544898</string>
			<string>0xfffffff0063c7e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,3</string>
			<string>iPad5,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f856b8</string>
			<string>0xfffffff00743f0fc</string>
			<string>0xfffffff007455a04</string>
			<string>0xfffffff007460d6c</string>
			<string>0xfffffff0075b4228</string>
			<string>0xfffffff007540898</string>
			<string>0xfffffff0063cbe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,3</string>
			<string>iPad6,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f7e3d0</string>
			<string>0xfffffff00743755c</string>
			<string>0xfffffff00744df5c</string>
			<string>0xfffffff007459378</string>
			<string>0xfffffff0075ac438</string>
			<string>0xfffffff007538a98</string>
			<string>0xfffffff00628be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,3</string>
			<string>iPad6,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f7e778</string>
			<string>0xfffffff0074331ec</string>
			<string>0xfffffff007449b04</string>
			<string>0xfffffff007454e6c</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff00628fe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,3</string>
			<string>iPad6,4</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f7e5f8</string>
			<string>0xfffffff007431d04</string>
			<string>0xfffffff00744860c</string>
			<string>0xfffffff007453974</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006297e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,7</string>
			<string>iPad6,8</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f8d750</string>
			<string>0xfffffff00743755c</string>
			<string>0xfffffff00744df5c</string>
			<string>0xfffffff007459378</string>
			<string>0xfffffff0075ac438</string>
			<string>0xfffffff007538a98</string>
			<string>0xfffffff0062bfe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,7</string>
			<string>iPad6,8</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f8dc38</string>
			<string>0xfffffff0074331ec</string>
			<string>0xfffffff007449b04</string>
			<string>0xfffffff007454e6c</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff0062c7e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad6,7</string>
			<string>iPad6,8</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f8da78</string>
			<string>0xfffffff007431d04</string>
			<string>0xfffffff00744860c</string>
			<string>0Xfffffff007453974</string>
			<string>0xfffffff0075a8148</string>
			<string>0xfffffff007534898</string>
			<string>0Xfffffff0062cbe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,1</string>
			<string>iPad4,2</string>
			<string>iPad4,3</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb2390</string>
			<string>0xfffffff00743844c</string>
			<string>0xfffffff00744ee4c</string>
			<string>0xfffffff00745a268</string>
			<string>0xfffffff0075b0418</string>
			<string>0xfffffff00753ca98</string>
			<string>0xfffffff00645be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,1</string>
			<string>iPad4,2</string>
			<string>iPad4,3</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb2278</string>
			<string>0xfffffff007434110</string>
			<string>0xfffffff00744aa28</string>
			<string>0xfffffff007455d90</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006463e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,1</string>
			<string>iPad4,2</string>
			<string>iPad4,3</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb20f8</string>
			<string>0xfffffff007432c48</string>
			<string>0xfffffff007449550</string>
			<string>0xfffffff0074548b8</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006463e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,4</string>
			<string>iPad4,5</string>
			<string>iPad4,6</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb19d0</string>
			<string>0xfffffff00743844c</string>
			<string>0xfffffff00744ee4c</string>
			<string>0xfffffff00745a268</string>
			<string>0xfffffff0075b0418</string>
			<string>0xfffffff00753ca98</string>
			<string>0xfffffff00645be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,4</string>
			<string>iPad4,5</string>
			<string>iPad4,6</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb18b8</string>
			<string>0xfffffff007434110</string>
			<string>0xfffffff00744aa28</string>
			<string>0xfffffff007455d90</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff00645fe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,4</string>
			<string>iPad4,5</string>
			<string>iPad4,6</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fb1738</string>
			<string>0xfffffff007432c48</string>
			<string>0xfffffff007449550</string>
			<string>0xfffffff0074548b8</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006463e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,7</string>
			<string>iPad4,8</string>
			<string>iPad4,9</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fafa10</string>
			<string>0xfffffff00743844c</string>
			<string>0xfffffff00744ee4c</string>
			<string>0xfffffff00745a268</string>
			<string>0xfffffff0075b0418</string>
			<string>0xfffffff00753ca98</string>
			<string>0xfffffff00641be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,7</string>
			<string>iPad4,8</string>
			<string>iPad4,9</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006faf8f8</string>
			<string>0xfffffff007434110</string>
			<string>0xfffffff00744aa28</string>
			<string>0xfffffff007455d90</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff00641be10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad4,7</string>
			<string>iPad4,8</string>
			<string>iPad4,9</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006faf738</string>
			<string>0xfffffff007432c48</string>
			<string>0xfffffff007449550</string>
			<string>0xfffffff0074548b8</string>
			<string>0xfffffff0075a8128</string>
			<string>0xfffffff007534898</string>
			<string>0xfffffff006427e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,1</string>
			<string>iPad5,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f87090</string>
			<string>0xfffffff0074446dc</string>
			<string>0xfffffff00745b0dc</string>
			<string>0xfffffff0074664f8</string>
			<string>0xfffffff0075bc468</string>
			<string>0xfffffff007548a98</string>
			<string>0xfffffff0063b7e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,1</string>
			<string>iPad5,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f875f8</string>
			<string>0xfffffff0074403a0</string>
			<string>0xfffffff007456cb8</string>
			<string>0xfffffff007462020</string>
			<string>0xfffffff0075b8168</string>
			<string>0xfffffff007544898</string>
			<string>0xfffffff0063bfe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPad5,1</string>
			<string>iPad5,2</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006f87438</string>
			<string>0xfffffff00743eed8</string>
			<string>0xfffffff0074557e0</string>
			<string>0xfffffff007460b48</string>
			<string>0xfffffff0075b4168</string>
			<string>0xfffffff0063c3e10</string>
			<string>0xfffffff0063bfe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPod7,1</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.2</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa2c50</string>
			<string>0xfffffff0074446dc</string>
			<string>0xfffffff00745b0dc</string>
			<string>0xfffffff0074664f8</string>
			<string>0xfffffff0075bc468</string>
			<string>0xfffffff007548a98</string>
			<string>0xfffffff006477e10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPod7,1</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.1.1</string>
			<string>10.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa3078</string>
			<string>0xfffffff0074403a0</string>
			<string>0xfffffff007456cb8</string>
			<string>0xfffffff007462020</string>
			<string>0xfffffff0075b8168</string>
			<string>0xfffffff007544898</string>
			<string>0xfffffff00647fe10</string>
		</array>
	</dict>
	<dict>
		<key>hw</key>
		<array>
			<string>iPod7,1</string>
		</array>
		<key>ios</key>
		<array>
			<string>10.0.2</string>
			<string>10.0.1</string>
		</array>
		<key>offsets</key>
		<array>
			<string>0xfffffff006fa2ef8</string>
			<string>0xfffffff00743eed8</string>
			<string>0xfffffff0074557e0</string>
			<string>0xfffffff007460b48</string>
			<string>0xfffffff0075b4168</string>
			<string>0xfffffff007540898</string>
			<string>0xfffffff00647fe10</string>
		</array>
	</dict>
</array>
</plist>
